<div class="container">
  <div class="align-right">
    <h3 class="date">{{ currentDate }}</h3>
    <h1 class="time">{{ currentTime }}</h1>
  </div>
  
  <div class="weather">
    <!-- Predicted Weather -->
    <div class="weather-item"> 
      <h2>{{ pseudoMaxTemperature }}° / {{ pseudoMinTemperature }}° </h2>
      <h2><i [class]="getWeatherIcon(pseudoSkyValue)"></i> {{ pseudoSkyValue }}</h2>
    </div>

    <!-- Current Weather -->
    <div class="weather-item">
      <h1><i [class]="getWeatherIcon(pseudoSkyValueNow)"></i>{{ pseudoTemperatureNow }}°</h1>
    </div>

    <!-- Rain Probability -->
    <div class="weather-item">
      <h2> <i class="fas fa-umbrella"></i> {{ pseudoRainProbability }} %</h2>
    </div>
  </div>
</div>
